html {
    height: 100%;
}

body {
    background: url('/media/imgh1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: rgb(95, 34, 34);
    font-family: 'Poppins', san-serif;
    background-color: lightgreen;    
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.shop-now-button {
    background: #28a745;
    color: white;
    min-width: 25px;
    padding:2%;
    position:absolute;
    bottom:10px;
}


.btn-black {
    background: #ADB993;
    color: #555555;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #15f859;
    color: white;
}

.text-black {
    color: #ADB993 !important;
}

.nav-item a:hover {
    color: #ddcf0f93!important;
    border-bottom: 1px solid #f1bb07;
}

.hvrgold a {
    font-size: 1.5em;
    text-decoration: none;
    border-bottom: 1px solid #adb993;
}

.searchbox {
    padding-top: 30px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.indexintro {
    opacity: 0.7;
    padding-top: 70px;
}

.mobilenav a:hover {
    color: #669474 !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.remove-item:hover {
    color: #49a351 !important;
}

.remove-item {
    color: #555555;
}

.btt-link {
    cursor: pointer;
    background-color: #adb993;
    color: #555555;
}

.btt-link:hover {
    background-color: #4ee27f;
}

.btt-button:hover {
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.free-delivery {
    color: #064400;
}

.showitems:hover {
    color: #070406;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.idbasket a:hover {
    color: #000000 !important;
}

.dropdown-menu.border-0 a:active {
    background-color: #adb993;
    color: white!important;
}

.dropdown-menu.border-0 a:focus {
    background-color: #adb993;
    color: white;
}

.logo-fontsml {
    font-size: 1.2rem;
    color: #555;
}

.text-black.nav-link.dropdown-item.active {
   background-color: #adb993 !important;
}

a.update-link.text-info:hover {
    color: #0e070c !important;
    text-decoration: underline;
}

a.text-info:hover {
    color: hsl(138, 62%, 19%) !important;
}

a#allauthlink:hover {
    color: hsl(138, 62%, 19%);
}

#notloggedin {
    color: hsl(138, 62%, 19%)3;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.logo-font {
    color: #adb993;
    font-weight: bold;
}

.name {
    position: absolute;
    right: 10px;
    bottom: 0px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}


/* convenience classes - colors copied from Bootstrap */

.arrow-success {
    border-bottom-color: darkgrey !important;
}

.arrow-danger {
    border-bottom-color: darkgray !important;
}

.arrow-warning {
    border-bottom-color: darkgrey !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

/* Allauth formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #adb993;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #555555;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #adb993;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #020101;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

.primaryAction {
    border-style: none;
}

button.primaryAction:focus {
    outline: none;
}

/* -------------------------------- Media Queries */

/* slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* remove logo over image on large screens */
@media (min-width: 992px) {
  .mobilelogo {
    visibility: hidden;
    display: none;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

/* bring contact down on med & larger screens to clear navbar */
@media (min-width: 768px) {
    .bringcontentdown {
        padding-top: 270px;
    }
    .removedisplay {
        display: none;
    }
}

@media (max-width: 768px) {
    .smallprofile {
        font-size: 0.8rem;
    }
}
/* bring content down on smaller screens to clear navbar */
@media (max-width: 991px) {
    .bringcontentdown {
        padding-top: 100px;
    }
    .btn.btn-outline-black.rounded-0.text-uppercase,
    .btn.btn-black.rounded-0.mt-0 {
        padding: .3rem .3rem;
    }
    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .3rem .3rem;
        font-size: .75rem;
    }
    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

/* make mobile navbar links smaller for the smallest screens to prevent 2 rows */

@media (max-width: 425px) {
    .mobilenav {
        font-size: 0.5rem;
    }
    .message-container {
        display: none;
    }
}


/* removes search box icon on the absolute tiniest screens */

@media (max-width: 325px) {
    #mobile-search {
        display: none !important;
    }
    .ordernosml {
        font-size: 0.7rem;
    }
    .order-history {
        font-size: 0.7rem;
    }
}

/* remove footer on smaller screens */

@media (max-width: 780px) {
    .footer {
        display : none ; 
        visibility : hidden;
    }
}

/* footer styling basic outline taken from colorlib.com and customised  */
.footer{
    width: 100%;
    background: #ADB993;   
}
.footer-title{
	position: relative;
    color: #555555;
	font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #555555;
}

.footer-title a{
	padding: 10px 0;
	border-bottom: 1px solid #555555;
	color: #fff;
	display: block;
	transition: color 0.8s ease-in-out;
}

.footer-title:hover {
    color: #000000;
    border-bottom: 1px solid #5c8374;
}

.footer-social-links li{
	display: inline-block;
}

.one-footer-link a:hover {
    text-decoration: none;
}

.footer-social-links a{
	width: 40px;
	height: 40px;
	font-size: 16px;
	float: left;
	margin-right: 10px;
	padding: 10px;
	border-radius: 50px;
	text-align: center;
	color: #fff;
	line-height: 1;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
  background:#555555;
}
.footer-social-links a:hover {
	background: greenyellow;
}